
/*------------------#SECTION-FONTS----------------------*/


@font-face {
  font-family: 'ubuntubold';
  src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ubuntulight';
  src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntumedium';
  src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
  font-style: normal;
}


@font-face {
  font-family: 'ubunturegular';
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lifehackmedium';
  src: url('../fonts/Lifehack-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'gagalinregular';
  src: url('../fonts/Gagalin-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}